@import "../../styles/colors";
@import "../../styles/media-queries";

.teamProgramming_container {
  padding-top: 16px;
  margin-bottom: 5rem;

  @include desktop2 {
    padding-top: 40px;
    min-height: 100vh;
  }
}
