@import "../../styles/colors";
@import "../../styles/media-queries";

.teamProgramming_container {
  padding-top: 8px;
  margin-bottom: 1rem;

  @include desktop2 {
    padding-top: 40px;
    margin-bottom: 5rem;
    min-height: 100vh;
  }
}
