@import "../../styles/colors";
@import "../../styles/media-queries";

.teamUndertaking {
    cursor: default;
}
.teamUndertaking_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    @include desktop2 {
        margin: 10px 0px;
        flex-direction: row;
    justify-content: space-evenly;
    }
}
