@import "../../styles/colors";
@import "../../styles/media-queries";

.teamUndertaking_container {
  padding-top: 30px;
  @include desktop2 {
    padding-top: 70px;
  }
}
.teamUndertaking {
  cursor: default;
}
.teamUndertaking_cards {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: space-around;
  flex-wrap: wrap;
  @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
  }
}
