@import "../../styles/colors";
@import "../../styles/media-queries";

.teamUndertaking {
    cursor: default;
}
.teamUndertaking_cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include desktop2 {
        margin: 5% 0px;
        flex-direction: row;
    }
}
.teamUndertaking_card {
    width: 60%;
    margin-bottom: 5%;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
    img {
        margin: 10px;
        width: 15vh;
        @include tablet {
            width: 20vh;
            margin: 10px;
        }
        @include desktop2 {
            margin: 20px;
        }  
    }
    h3 {
            margin-bottom: 5px;
        }
    @include desktop2 {
        height: 45vh;
        width: 20%;
    }
}
.teamUndertaking_card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%)
}