@import "../../styles/colors";
@import "../../styles/media-queries";

.containerForm {
  border: 1px solid $primary-color;
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 1.5rem 0.75rem;

  @include tablet {
    margin: 1rem 0;
    padding: 2rem 1rem;
  }

  @include desktop {
    padding: 3rem 1rem;
  }

  .subtitle {
    color: $primary-color !important;
    margin: 0.5rem 0;
    padding-bottom: 1rem;

    @include desktop {
      margin: 1rem 0;
      padding-bottom: 2rem;
    }
  }

  .paragraph1 {
    width: 100%;
    text-align: center;
  }

  .mb-2 {
    margin-bottom: 2rem;
  }

  .checkboxes {
    border: 1px solid $dark-gray;
    border-radius: 8px;
    margin: 1rem 0 1rem 1.5rem;
  }

  .d-none {
    display: none;
  }

  .w-95 {
    width: 95%;
  }

  .containerImagenToEdit {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    h2 {
      width: 100%;
      text-align: center;
      /* margin: 5px; */
    }

    .imgFormEdit {
      width: 145px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 5px;
      border: 1px solid $primary-color;
      border-radius: 8px;
      object-fit: contain;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
      figcaption {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba($color: $white, $alpha: 0.8);
        text-align: center;
      }
    }
  }
}
