@import "../../styles/colors";
@import "../../styles/media-queries";
@import "../../styles/fonts-settings";


.programando_container {
    padding-top: 16px;
    background-position: right;
    background-repeat: no-repeat;
    cursor: default;
    @include tablet {
        height: auto;
    }
    @include desktop2 {
        padding-top: $padding-top;
        min-height: $min-height;
    }
    .span_title {
        color: $white;
    }
    span {
        color: $primary_color;
        @include desktop2 {}
    }
}

.programando_text_img {
    margin-top: 10px;
    @include tablet {

    }
    @include desktop2 {
        margin-top: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
}
.programando_text {
    p {
        font-family: $font-family;
        color: $dark-gray;
        font-size: 12px;
        margin: 20px;

        @include tablet {
            font-size: 16px;
            margin: 10px;
        }

        @include desktop2 {
            font-size: 20px;
            margin: 20px;
        }
    }

    
    width: 90%;
    @include tablet {
        margin: 0% 5%;
    }
    @include desktop2 {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
.programando_flow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 12px 16px 0 16px;

    .flow_label {
        color: $dark-gray;
        font-weight: 800;
        font-size: 18px;
        @include tablet {
            font-size: 24px;
        }
        @include desktop2 {
            font-size: 30px;
        }
    }

    .flow_arrow svg {
        width: 28px;
        height: 28px;
        @include tablet {
            width: 36px;
            height: 36px;
        }
        @include desktop2 {
            width: 48px;
            height: 48px;
        }
    }

    .flow_brand {
        display: inline-flex;
        align-items: center;
        gap: 6px;

        img {
            height: 32px;
            width: auto;
            @include tablet {
                height: 42px;
            }
            @include desktop2 {
                height: 52px;
            }
        }

        span {
            color: $dark-gray;
            font-weight: 900;
            font-size: 20px;
            @include tablet {
                font-size: 26px;
            }
            @include desktop2 {
                font-size: 32px;
            }
        }
    }
}
.programando_img {
    @include tablet {

    }
    @include desktop2 {
        width: 50%;
    }
    img {
        border-radius: 2.5%;
        width: 90%;
        margin: 5%;
        @include tablet {
            margin: 5%  10%;
            width: 80%;
        }
        @include desktop2 {
            margin: 0% 10%5% 10%
        }
    }
}