@import "../../styles/colors";
@import "../../styles/media-queries";

.quienes_somos_container {
  height: 100%;
  background-image: url("../../assets/fondoAboutUs.jpg");
  background-position: right;
  background-repeat: no-repeat;
  cursor: default;
  background-size: 100% 100%;
  padding-top: 30px;
  @include desktop2 {
    padding-top: 70px;
    min-height: 100vh;

  }
}

.quienes_somos_text_img {
  margin-top: 10px;
  @include tablet {
  }

  @include desktop2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.quienes_somos_text {
  padding: 10px;
  p {
    margin-bottom: 15px;
    color: $dark-gray;
    font-size: 14px;
    @include tablet {
      font-size: 16px;
    }
    @include desktop2 {
      font-size: 20px;
    }
  }

  @include tablet {
    padding: 20px;
  }

  @include desktop2 {
    width: 40%;
    height: 40%;
  }
}

.quienes_somos_img {
  @include tablet {
  }
  @include desktop2 {
    width: 50%;
  }

  img {
    border-radius: 2.5%;
    width: 80%;
    margin: 5% 10%;
    @include tablet {
    }
    @include desktop2 {
      width: 90%;
      margin: 0px 10px 10px 10px;
    }
  }
}
