@import "../../styles/colors";
@import "../../styles/media-queries";

.quienes_somos_container {
  background-image: url("../../assets/fondoAboutUs.jpg");
  background-position: right;
  background-repeat: no-repeat;
  cursor: default;

  @include tablet {
    height: auto;
    min-height: 90vh;
  }

  @include desktop2 {
    background-size: 100% 100%;
  }
}

.quienes_somos_text_img {
  margin-top: 10px;
  @include tablet {
  }

  @include desktop2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.quienes_somos_text {
  p {
    color: $dark-gray;
    font-size: 14px;
    @include tablet {
      font-size: 16px;
    }
    @include desktop2 {
      font-size: 20px;
    }
  }
  width: 90%;
  @include tablet {
  }

  @include desktop2 {
    font-size: 20px;
    width: 40%;
    height: 40%;
    margin: 30px 30px 10px 60px;
  }
}

.quienes_somos_img {
  @include tablet {
  }
  @include desktop2 {
    width: 50%;
  }

  img {
    border-radius: 5%;
    width: 80%;
    margin: 5% 10%;
    @include tablet {
    }
    @include desktop2 {
      width: 90%;
      margin: 0px 10px 10px 10px;
    }
  }
}
