/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family:'Nunito', sans-serif, arial;

$title-mobile-size: 20px;
$title-tablet-size: 24px;
$title-desktop-size: 48px;

$subtitle-mobile-size: 18px;
$subtitle-tablet-size: 20px;
$subtitle-desktop-size: 24px;

$paragraph1-mobile-size: 16px;
$paragraph1-tablet-size: 18px;
$paragraph1-desktop-size: 24px;

$paragraph2-mobile-size: 12px;
$paragraph2-tablet-size: 14px;
$paragraph2-desktop-size: 16px;

$description-mobile-size: 14px;
$description-tablet-size: 12px;
$description-desktop-size: 10px;
