@import "../../styles/colors";
@import "../../styles/media-queries";
@import "../../styles/fonts-settings";

.productCart-product-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.productCart-producto {
  margin: 10px 200px;
  display: flex;
  flex-direction: row;
}
.productCart-product-image {
  margin: 10px;
  img {
    width: 150px;
    height: 150px;
  }
}

.productCart-product-info {
    margin: 10px;
}

.productCart-info {
    h2 {
        margin: 10px;
    }
    a {
        margin: 10px;
    }
}