@import "../../styles/colors";
@import "../../styles/media-queries";
@import "../../styles/fonts-settings";


.egresados_container {
  padding-top: 8px;
    height: 400px;
    background-position: right;
    text-align: center;
    @include tablet {
      height: auto;
      background-size: 100% 100%;
    }
    @include desktop {
      background-size: 100% 100%;
      padding-top: $padding-top;
        min-height: $min-height;
    }

    .egresados_text_video {
     
      margin-top: 4px;
      @include tablet {
  
      }
      @include desktop {
          margin-top: 40px;
        
      
      }
  }

    .egresados_text{
      margin: 2%;
      text-align: center;
    h2 {
        font-family: $font-family;
        color: $dark-gray;
        font-size: 12px;
        margin: 20px;

        @include tablet {
            font-size: 16px;
            margin: 10px;
        }

        @include desktop {
            font-size: 20px;
           
        }
    }

    
width: 90%;
    @include tablet {
        margin: 0% 5%;
        justify-content: center;
    }
  }}

    iframe{

      @include mobile{
        margin-top: -4rem;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        padding-bottom: 4em;
        padding-top: 4em;
        display:grid;
        align-content: center;
        justify-content: center;
        width: 90%;
        height: 400px;
      }
      @include tablet{
        margin-top: 1rem;
        width: auto;
      }
      @include desktop{
        margin-top: 1rem;
        padding: 1em;
        width: 75%;
        height: 500px;
      }
      }
      

 
 

  


