@import "../../styles/colors";
@import "../../styles/media-queries";
@import "../../styles/fonts-settings";


.steps{
    color: $primary-color;
}

.puntoRetiro{
    padding: 2%;
   margin-left: 1px;
   margin-right: 2px;
}