@import "../../styles/colors";
@import "../../styles/media-queries";
.team_container {
    cursor: default;
    @include desktop2 {
        padding-bottom: 10%;

    } 
}
.team_cards {
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: space-around;
    flex-wrap: wrap;
    @include tablet {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px 0px;
    }
}
