@import "../../styles/colors";
@import "../../styles/media-queries";
@import "../../styles/fonts-settings";
.productDetail-container {
    display: flex;
    flex-direction: column;
    background-color: $ligth-blue;
    padding-top: 30px;
    cursor: default;
    @include tablet {
        height: auto;;
    }
    @include desktop2 {
        flex-direction: row;
        padding-top: $padding-top;
        min-height: $min-height;
    }
}
.productDetail-images-container{
    display: flex;
   
    @include desktop2 {
        flex-direction: row;
    }
    
}
.productDetail-images {
    margin: 20px;
    display: flex;
    flex-direction: column;
    img {
        width: 70px;
        height: 70px;
        object-fit:cover;
        @include tablet {
            width: 150px;
            height: 150px;
        }
        @include desktop2 {
            width: 200px;
            height: 200px;
        }
    }
}
.productDetail-image-major {
    img{
        margin: 20px;
        object-fit: cover;
        width: 210px;
        height: 210px;
        @include tablet {
            width: 450px;
            height: 450px;
        }
        @include desktop2{
            width: 600px;
            height: 600px;
        }
    }
}
.productDetail-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    h2,h3, p {
        margin: 10px 0px;
    }
    form{
        margin: 10px 0px;
    }

}