@import "../../styles/colors";
@import "../../styles/media-queries";

.container-volunter {
  background-image: url(../../assets/ondaTop1.svg),
    url(../../assets/ondaTop2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top; 
  padding: 3rem;

  @include desktop {
    padding: 10rem;
  }
}


.center-around {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .button-volunter_left {
    width: 50%;
    margin: 0 10px;
    text-align: end;
  }
  .button-volunter_rigth {
    width: 50%;
    margin: 0 10px;
    text-align: start;
  }

  /*  & button {
        margin: 1rem;
    } */
}
