@import "../../styles/colors.scss";
@import "../../styles/media-queries.scss";
@import "../../styles/fonts-settings.scss";

.emprendiendo_container {
  width: 100%;
  cursor: default;
  padding-top: 8px;
  text-align: center;

  @include desktop2 {
    padding-top: $padding-top;
        min-height: 100vh;
  }
}

.emprendiendo_text {
  text-align: center;

  p {
    margin: 0px 5px;
  }

  h2 {
    color: $primary-color;
  }
}

.subtitle2 {
  color:#58595b;
  font-size: $title-mobile-size;
  font-weight: 800;
  padding: 10px;

  @include tablet {
    font-size: $title-tablet-size;
  }

  @include desktop2 {
    font-size: $title-desktop-size;
  }
}

.emprendiendo_section_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}

.emprendiendo_card {
  background-color: $white;
  border-radius: 5%;
  border-color: #74A9DA;
  border-style: solid;
  margin: 10px;
  transition: all 400ms ease;
  figure {
    margin: 0 auto;
    width: 20vh;
  }
  h2 {
    text-align: center;
    margin: 5px;

    @include tablet {
      font-size: 20px;
    }
  }

  p {
    padding: 10px;
    margin: 5px;
    text-align: center;
  }
  img {
    margin: 10% 30% 0% 30%;
    width: 70px;
    height: 70px;
    object-fit: contain;
    @include desktop2 {
      margin: 0 auto;
      width: 125px;
      height: 125px;
      object-fit: contain;
    }
  }
  @include tablet {
    width: 30%;
    margin: 5% 2%;
  }
  @include desktop2 {
    width: 90%;
    max-width: 300px;
    margin-bottom: 5%;
  }
}
.emprendiendo_card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
