@import "../../styles/colors";
@import "../../styles/media-queries";
.emprendiendo_container {
    margin-top: 5%;
    min-height: 90vh;
    background-color: $ligth-blue;
    width: 100%;
    cursor:default;
}
.emprendiendo_text {
    text-align: center;
    p {
        margin: 2%;
        @include tablet {

        }
        @include desktop2{
            
        }
        
    }
    h2 {
        color: $primary-color;
    }
    @include tablet {

    }
    @include desktop2 {  
       width: 50%;  
    }
}

.emprendiendo_section_cards {
    display: flex;
    flex-direction: column;
    
    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: row;
    }
}
.emprendiendo_card {
    background-color: $white;
    border-radius: 5%;
    margin: 0% 5% 5% 5%;
    transition: all 400ms ease;
    figure {
        width: 20vh;
    }
    h2 {
        text-align: center;
        margin: 2%;
        @include tablet {
            font-size: 20px;
        }
    }
    p {
        margin: 2%;
        text-align: center;
    }
    img {
        margin-top: 10%;
        width: 10vh;
        height: 10vh;
        display: flex;
        align-items: center;
        color: $ligth-blue;
        @include tablet {
            width: 15vh;
            height: 15vh;
        }
        @include desktop2{
            width: 20vh;
            height: 20vh;
        }
    }
    @include tablet {
        width: 28vh;
        margin: 5% 2%;
    } 
    @include desktop2 {
        width: 30%;
        margin-bottom: 5%;
    }
}
/*.emprendiendo_card:hover {
    img {
        width: 15vh;
        height: 15vh;
        @include tablet {
            width: 20vh;
            height: 20vh;
        }
        @include desktop2 {
            width: 25vh;
            height: 25vh;
        }
    }
}*/
.emprendiendo_card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
