@import "../../styles/colors";
@import "../../styles/media-queries";

.axes {
  &_container {
    cursor: default;
    text-align: center;
    padding-top: 30px;

    @include desktop2 {
      padding: 10rem;
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px;

    @include desktop2 {
      flex-direction: row;
    }
  }

  &_card {
    background-color: $ligth-blue;    
    border-radius: 8px;
    margin: 15px;
    padding: 30px 20px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;

    &:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%);
    }

    a {
      text-decoration: none;
    }

    h3 {
      /* margin-top: 10px; */
      margin-bottom: 7px;
      color: $primary-color;
      /* height: 50px; */

      @include tablet {
        margin-top: 20px;
      /*   height: 100px; */
      }
    }

    p {
      padding: 5px;
      /* height: 50%; */
      text-align: center;

      @include tablet {
        padding: 25px 5px;
      }

      @include desktop2 {
        padding: 5px;
      }
    }

    span {
      color: $primary-color;
    }

    @include tablet {
      display: flex;
      height: 230px;
      width: 450px;
      align-items: center;
      align-content: start;
      flex-wrap: wrap;
    }

    @include desktop2 {
      height: 300px;
    }
  }
}