@import "../../styles/colors";
@import "../../styles/media-queries";

.card {
  width: 150px;
  border: none;
  padding-bottom: 5px;

  .iframe-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden; // para que el iframe quede recortado como imagen
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

    @include tablet {
      margin: 10px;
    }

    @include desktop2 {
      width: 50%;
    }
  }

  h3 {
    margin-bottom: 5px;
  }
}
