/* media-queries */
@import "./styles/media-queries";
@import "./styles/colors";
@import "./styles/fonts-settings";


* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: $font-family;
}

.title {
  color: $primary-color;
  text-align: center;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: $title-mobile-size;
  font-style: normal;
  font-weight: 600;

  @include tablet {
    font-size: $title-tablet-size;
  }

  @include desktop {
    font-size: $title-desktop-size;
  }
}

.subtitle {
  color: $dark-gray;
  font-size: $subtitle-mobile-size;
  
  @include tablet {
    font-size: $subtitle-tablet-size;
  }

  @include desktop {
    font-size: $title-desktop-size;
  }
}

.paragraph1 {
  color: $dark-gray;
  font-size: $paragraph1-mobile-size;

  @include tablet {
    font-size: $paragraph1-tablet-size;
  }

  @include desktop {
    font-size: $paragraph1-desktop-size;
  }
}

.paragraph2 {
  color: $dark-gray;
  font-size: $paragraph2-mobile-size;

  @include tablet {
    font-size: $paragraph2-tablet-size;
  }

  @include desktop {
    font-size: $paragraph2-desktop-size;
  }
}

.description {
  color: $dark-gray;
  font-size: $description-mobile-size;

  @include tablet {
    font-size: $description-tablet-size;
  }

  @include desktop {
    font-size: $description-desktop-size;
  }
}
