@import "../../styles/colors";
@import "../../styles/media-queries";

.titlesFormsContainer {
  text-align: center;
  padding: 7rem 1rem;
  
  @include tablet {
    padding:50px;
  }
  
  & .subtitle {
    color: $primary-color;
  }
}
