@import "../../styles/colors";
@import "../../styles/media-queries";

.container {
  display: grid;
  grid-template-columns: 1fr 5fr; 
  gap: 1px; 
  padding: 1em;
  @include mobile {
    grid-template-columns: auto;    
    padding: 2px;
  }
  
}

.sidebar {
  // Estilos para la primera columna 
  background-color: $white;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.mainContent {
  // Estilos para la segunda columna
  background-color: #ffffff;
  padding: 20px;
}
