@import "../../styles/colors";
@import "../../styles/media-queries";

.container {
  display: grid;
  grid-template-columns: 1fr 3fr; // 25% y 75%
  gap: 1px; 
  padding: 6%;
  @include mobile {
    grid-template-columns: auto;    
    padding: 2px;
  }
  
}

.sidebar {
  // Estilos para la primera columna (25%)
  background-color: $white;
  border-right: 1px solid #ddd;
  padding: 50px 10px;
}

.mainContent {
  // Estilos para la segunda columna (75%)
  background-color: #ffffff;
  padding: 20px;
}
