@import "../../styles/colors";
@import "../../styles/media-queries";
@import "../../styles/fonts-settings";

.aliadosp_container{
    padding-top: 16px;
    height: 500px;
    text-align: center;
    @include mobile-tablet {
        height: auto;
    }
    @include desktop {
        background-size: 100%;
        padding-top: $padding-top;
        
        
    }
}

.title{
    margin-bottom: 15px;
}

.subtitle{
    margin-bottom: 10px;
}

.lanus .logos{
    width: 200px;
    height: 80px;
    margin: 2em;
    @include mobile-tablet{

    }
}

.row {
    margin: 0 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile-tablet {
       flex-wrap: wrap;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-content: center;
       text-align: center;
    }
    @include desktop {
        height: 400px;
        justify-content: center;
    }
    .img_aliados {
        width: 200px;
        height: 150px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        img{
            width: 80%;
        }
    }
}