
@import "../styles/media-queries";

.main {
    height: auto;
    min-height: 100vh;
}

.container {
    min-height: 63.3vh;
    margin-top: 75px;

    @include desktop-large {
        max-width: 80%;
        margin: 0 auto;
    }
    
}